.my_work{
    background-color: aquamarine;
}
#element1{
    background-color:rebeccapurple;
}
.element2{
    background-color: blue;
}
span{
    background-color: brown;
}
.class1.class2{
    background-color: darkgreen;
}
nav{
    background-color: fuchsia;
}